# Created by .gitignore support plugin (hsz.mobi)
client/.idea
client/uploadmanager.iml
server/server.iml
server/.idea
.idea/
client/target/
server/target/
client/src/main/resources/endpint
client/src/main/resources/endpoint